#app{
    background-color: #fff;
    font-family: arial, sans-serif;

    min-width: 680px;
    height: 560px;
    margin: 0;
    margin-bottom: -60px;
    padding: 0;
}

#header {
    display: block;
    width: 100%;
    height: 60px;
    margin: auto;
    color: white;
    background-color: #262f6d;
    background-position: 6 6;
    background-image: url('SS-Icon48.jpeg');
    background-repeat: no-repeat;
}

#title {
    display: block;
    padding-left: 65;
    line-height: 60px;
    font-size: 22;
    font-weight: bold;
}

#body {
    display: flex;
    flex-direction: row;
}

#tabs {
    display: flex;
    flex-direction: column;
    width: 140px;
}

button:focus {
    outline: none;
}

.unselected_btn:hover {
    background-color: #f7f7f7;
}

.tab_btn {
    background-color: #fff;
    font-weight: 500;
    text-align: left;
    padding-left: 65px;
    margin-left: -65px;
    border-radius: 18px;
    border: none;
    height: 35px;
    width: 190px;
}

#upload_btn {
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
    background-color: #fff;
    background-image: url('./icons/add.png');
    background-repeat: no-repeat;
    background-position: 13 center;
    background-size: 30px 30px;
    border: 1px solid transparent;
    border-radius: 24px;
    display: inline-flex;
    letter-spacing: .15px;
    line-height: 50px;
    padding: 0 24px 0 0;
    text-transform: none;
    
    font-weight: 700;
    text-align: left;
    padding-left: 55px;
    margin-left: -30px;
    margin-bottom: 15px;
    height: 50px;
    width: 120px;
}

#drive_btn {
    font-weight: 700;
    background-color: #e8f0fe;
    color: #1967d2;
}

/* tab_data */

#tab_data {
    width: 500px;
}

.tab_body_title {
    font-size: 22px;
    padding-bottom: 10px;
    /* width: 700px; */
    border-bottom: 1px #b2b2b2 solid;
}

.tab_body_section {
    margin-right: 30px;
}

.upload_body_title {
    font-size: 16px;
    color: #919191;
    margin-bottom: 15px;
    margin-top: 15px;
}

.filelist_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.file_card {
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    border-radius: 7px;
    margin-bottom: 10px;
    width: 150px;
    overflow: hidden;
}

.file_card_top {
    height: 85px;
    background-color: white;
    z-index: 10;
    margin-bottom: none;
    border-bottom: 1px #b2b2b2 solid;
    overflow: hidden;
}

.file_card_bot {
    background-color: white;
    height: 45px;
    z-index: 1;

    margin-top: none;
    padding-left: 9px;
    padding-top: 9px;
}

.file_card:hover > .file_card_bot {
    background-color: #e8f0fe;
}

.file_card_bot_title {
    font-size: 13px;
    padding-left: 20px;
    font-weight: 550;
    background-image: url('./icons/document.png');
    background-position: -2 center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    white-space: nowrap;
}

.file_card_bot_lastedit {
    font-size: 11px;
}

.file_card_bot_img {
    display: inline;
}

.folderlist_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.folderlist_item {
    border: 1px #b2b2b2 solid;
    border-radius: 7px;
    line-height: 38px;
    height: 38px;
    width: 120px;
    padding-left: 40px;
    margin-right: 10px;
    background-image: url('./icons/folder.png');
    background-position: 7px center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
}

.folderlist_item:hover {
    background-color: #e8f0fe;
    color: #1967d2;
}